<div class="four wide column">

  <!-- event image -->
  <div class="event-preview" style="background: url(<%= instance.event.image.url(:medium) %>);">
 
    <!-- container for color overlay -->
    <div class="event-preview-inside">

      <!-- event date -->
      <p class="event-preview-date">
        <span><%= instance.date.strftime("%a") %></span>
        <br>
        <%= instance.date.strftime("%b %d") %>
      </p>

      <button class="ui icon mini button right floated copy-to-clipboard" data-clipboard-text="<%= instance.event.short_blurb %> More info here: www.joinferris.com/events/<%= instance.event_id %>">
        <i class="copy icon"></i>
      </button>

      <!-- event header -->
      <%= link_to event_path(instance.event) do %>
        <div class="event-preview-text">
          <h4>
            <%= instance.event.title %>
          </h4>
          <p class="event-preview-meta">
            <% unless instance.event.place.nil? %>
              <% if instance.event.place.neighborhood? %>
                <%= instance.event.place.neighborhood %>
              <% else %>
                <%= instance.event.place.city if instance.event.place.city? %>
              <% end %>
            <% end %>
            ·
            <% if instance.event.price == 0 || instance.event.price.nil? %>
              Free
            <% else %>
              $<%= instance.event.price %>.00
            <% end %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  var clipboard = new Clipboard('.copy-to-clipboard');
  clipboard.on('success', function(e) {
    console.info('Action:', e.action);
    console.info('Text:', e.text);
    console.info('Trigger:', e.trigger);

    e.clearSelection();
  });

  clipboard.on('error', function(e) {
      console.error('Action:', e.action);
      console.error('Trigger:', e.trigger);
  });
</script>