<div class="four wide column">
  <div class="ui cards preview-card">
    <div class="card">

      <!-- Use event's place image if event has no image -->
      <% if instance.event.image? %>
        <%= link_to image_tag(instance.event.image.url(:medium), class: "index-image"), instance.event %>
      <% elsif instance.event.place.image? %>
        <%= link_to image_tag(instance.event.place.image.url(:medium), class: "index-image"), instance.event %>
      <% end %>

      <div class="content">
        <!-- Title-->
        <button class="ui icon mini basic button right floated copy-to-clipboard" data-clipboard-text="<%= instance.event.short_blurb %> More info here: www.joinferris.com/events/<%= instance.event_id %>">
          <i class="copy icon"></i>
        </button>
        <div class="header"><%= link_to (instance.event.title), instance.event %></div>
        <!-- Blurb
        <div class="description">
          <%= truncate(instance.event.short_blurb, length: 105, seperator: ' ', omission: '...') %>
        </div>
        -->
        <!-- Date -->
        <div class="meta">
          <% if instance.date.today? %>
            Today, <%= instance.event.start_time.strftime("%l:%M%p") %>
            <%= '- '+instance.event.end_time.strftime("%l:%M%p") unless instance.event.end_time.nil? %>
          <% else %>
            <%= instance.date.strftime("%A, %m/%d") %> at
            <%= instance.event.start_time.strftime("%l:%M%p") %>
          <% end %>
        </div>
        <!-- Labels -->
        <div class="meta">
          <div class="ui label">
            <% unless instance.event.place.nil? %>
              <% if instance.event.place.neighborhood? %>
                <%= instance.event.place.neighborhood %>
              <% else %>
                <%= instance.event.place.city if instance.event.place.city? %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>