<div class="four wide column">
  <%= link_to event_path(instance.event) do %>

    <!-- event image -->
    <div class="event-preview" style="background: url(<%= instance.event.image.url(:medium) %>);">

      <!-- container for color overlay -->
      <div class="event-preview-inside">

        <!-- event date -->
        <p class="event-preview-date">
          <span><%= instance.date.strftime("%a") %></span>
          <br>
          <%= instance.date.strftime("%b %d") %>
        </p>

        <!-- event header -->
        <div class="event-preview-text">
          <h4>
            <%= instance.event.title %>
          </h4>
          <p class="event-preview-meta">
            <% unless instance.event.place.nil? %>
              <% if instance.event.place.neighborhood? %>
                <%= instance.event.place.neighborhood %>
              <% else %>
                <%= instance.event.place.city if instance.event.place.city? %>
              <% end %>
            <% end %>
            ·
            <% if instance.event.price == 0 || instance.event.price.nil? %>
              Free
            <% else %>
              $<%= instance.event.price %>.00
            <% end %>
          </p>
        </div>

      </div>
    </div>
  <% end %>
</div>