<% provide(:title, ' | Events') %>
<%= render 'header' %>  
<div class="ui padded grid stackable">
  <% @events.each do |event| %>
      <% if event.date.today? || event.date.future? %>
        <div class="four wide column">
          <div class="ui cards preview-card">
            <div class="card">
              <%= link_to image_tag(event.image.url(:banner), class: "index-image"), event %>
              <div class="content">
                <div class="header"><%= link_to (event.title), event %></div>
                <div class="meta">
                  <% if event.date.today? %>
                    Today, <%= event.start_time.strftime("%l:%M%P") %> - <%= event.end_time.strftime("%l:%M%P") %>
                  <% else event.date.today? %>
                    <%= event.date.strftime("%a. %m/%d") %>, <%= event.start_time.strftime("%l:%M%P") %> - <%= event.end_time.strftime("%l:%M%P") %>
                  <% end %>
                </div>
                <div class="description">
                  <%= event.short_blurb %>
                </div>
              </div>
              <div class="extra content">
                <span class="right floated">
                  <button class="ui mini basic labeled icon button copy-to-clipboard" data-clipboard-text="<%= event.short_blurb %> More info here: www.joinferris.com/events/<%= event.id %>">
                    <i class="copy icon"></i>
                    Copy
                  </button>
                </span>
                <span>
                  <i class="globe icon"></i>
                  <%= event.neighborhood %>
                </span>
              </div>
            </div>
          </div>
      </div>
    <% end %>
  <% end %>
</div>

<script>
  var clipboard = new Clipboard('.copy-to-clipboard');
  clipboard.on('success', function(e) {
    console.info('Action:', e.action);
    console.info('Text:', e.text);
    console.info('Trigger:', e.trigger);

    e.clearSelection();
  });

  clipboard.on('error', function(e) {
      console.error('Action:', e.action);
      console.error('Trigger:', e.trigger);
  });
</script>