<p id="notice"><%= notice %></p>
<div class="ui grid stackable">
  <div class="two wide column">
    
  </div>
  <div class="twelve wide column">
      <%= render 'header' %>
      <table class="ui celled table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Date</th>
            <th>Start time</th>
            <th>End time</th>
            <th>Address</th>
            <th>Neighborhood</th>
            <th>Price</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @events.each do |event| %>
            <% if event.date.today? || event.date.future? %>
              <tr>
                <td><%= event.title %></td>
                <td><%= event.description %></td>
                <td><%= event.date.strftime("%A, %B %d") %></td>
                <td><%= event.start_time.strftime("%I:%M %p") %></td>
                <td><%= event.end_time.strftime("%I:%M %p") %></td>
                <td><%= event.address %></td>
                <td><%= event.neighborhood %></td>
                <td><%= event.price %></td>
                <td><%= link_to 'Show', event %></td>
                <td><%= link_to 'Edit', edit_event_path(event) %></td>
                <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <% if @events.present? %>
      <% else %>
        <p class = "search-error">There are no events containing the term(s) <%= params[:search] %>.</p>
      <% end %>
  </div>
  <div class="two wide column">
    
  </div>
</div>