<% provide(:title, ' | ' + @event.title) %>
<%= render 'event_header' %>
<div class="event-card">
  <div class="ui card">
    <div class="ui fluid image">
      <div class="ui green ribbon label">
        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://www.joinferris.com/events/<%= @event.id %>"><i class="facebook icon"></i>Share</a>
      </div>
      <%= image_tag @event.image.url(:medium) %>
    </div>
    <div class="content">
      <p class="header"><%= @event.title %></p>
      <div class="meta">
        <% if @event.date.today? %>
          <span class="date"><i class="calendar icon"></i> Today</span>
        <% else @event.date.today? %>
          <span class="date"><i class="calendar icon"></i><%= @event.date.strftime("%A, %B %d") %></span>
        <% end %>

        <br>
        <span class="date"><i class="wait icon"></i><%= @event.start_time.strftime("%l:%M %P") %> - <%= @event.end_time.strftime("%l:%M %P") %></span>
      </div>
      <div class="description">
        <%= @event.description %>

      </div>
    </div>
    <div class="extra content">
      <a href="http://maps.google.com/?q=<%= @event.address %>" target="_blank">
        <i class="location arrow icon"></i>
        <%= @event.neighborhood %>
      </a>
    </div>
    <div class="extra content">
      <a href="<%= @event.website %>" target="_blank">
        <i class="linkify icon"></i>
        Event Website
      </a>
    </div>
    <div class="extra content">
      <a href="<%= @event.purchase_url %>" target="_blank">
        <i class="dollar icon"></i>
        $<%= @event.price %> entry fee
      </a>
    </div>
    <form action="<%= @event.purchase_url %>">
      <button class="ui blue fluid button" type="submit">
        Let's Go!
      </button>
    </form>
  </div>
</div>