<div class="event-card">
  <div class="ui card">
    <div class="image">
      <%= image_tag("ica.jpg") %>
    </div>
    <div class="content">
      <p class="header"><%= @event.title %></p>
      <div class="meta">
        <span class="date"><i class="calendar icon"></i><%= @event.date %></span>
      </div>
      <div class="meta">
        <span class="date"><i class="wait icon"></i><%= @event.start_time.strftime("%I:%M %p") %> - <%= @event.end_time.strftime("%I:%M %p") %></span>
      </div>
      <div class="description">
        <%= @event.description %>
      </div>
    </div>
    <div class="extra content">
      <a href="http://maps.google.com/?q=<%= @event.address %>" target="_blank">
        <i class="location arrow icon"></i>
        <%= @event.address %>
      </a>
    </div>
    <div class="extra content">
      <a href="http://<%= @event.website %>" target="_blank">
        <i class="linkify icon"></i>
        <%= @event.website %>
      </a>
    </div>
    <div class="extra content">
      <a href="http://<%= @event.purchase_url %>" target="_blank">
        <i class="dollar icon"></i>
        $<%= @event.price %> per person
      </a>
    </div>
    <form action="http://<%= @event.purchase_url %>">
      <button class="ui blue fluid button" type="submit">
        Buy Tickets
      </button>
    </form>
  </div>
</div>