<% provide(:title, ' | Your Personal Guide to Boston') %>
<%= render 'facebook_tracking' %> 
<div class="ui grid stackable">
	<div class="two wide column">
		
	</div>
	<div class="six wide column example small computer only tablet only">
		<%= image_tag("example.png", :class => "ui centered image") %>
	</div>
	<div class="six wide column description">
		<%= image_tag("face.png", :class => "ui centered tiny image") %>
	  	<h1>
	  		Hello, I'm Ferris.
	  	</h1>
	  	<h3>
	  		Text "Hello" to discover <br>fresh date ideas in Boston.
	  	</h3>
	  	<h2>
	  		<a href="sms:16179348438&body=Hello">(617) 934-8438</a>
	  	</h2>
	  	<h4>
	  		A real person to help you plan your date.
	  	</h4>
	  	<div class="ui items guide">
		  <div class="item">
		    <div class="ui tiny image">
		      <%= image_tag("rosa.jpg", :class => "rounded-circle") %>
		    </div>
		    <div class="content">
		      <div class="header">Rosa Hsu</div>
		      <div class="subtitle">Guide, Ferris Boston</div>
		      <div class="description guide-quote">
		        <p>"I love trying new restaurants in Boston. I'm here to help you discover something new on every date."</p>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
	<div class="six wide column example small mobile only">
		<%= image_tag("example.png", :class => "ui centered image") %>
	</div>
	<div class="two wide column">
	 
	</div>
</div>