<% provide(:title, ' | Your Personal Guide to Boston') %>

<!-- Header -->
<div class="ui top fixed menu">
  <a class="item" href="#top" id="top-link">
    <%= image_tag("face-beta.png", :class => "ui centered image tiny") %>
  </a>
  <div class="right menu">
 	<a class="text item" href="#how-it-works" id="how-it-works-link">How It Works</a>
  	<a class="text item" href="#sign-up" id="sign-up-link">Sign Up</a>
  </div>
</div>

<!-- Hero -->
<div class="section" id="top">
	<div class="ui grid stackable">
		<div class="two wide column">
			
		</div>
		<div class="four wide column example small computer only tablet only">
			<%= image_tag("example.png", :class => "ui centered image") %>
		</div>
		<div class="one wide column">
			
		</div>
		<div class="six wide column description">
			<%= image_tag("face.png", :class => "ui centered tiny image") %>
		  	<h1>
		  		Explore Your City
		  	</h1>
		  	<h3>
		  		Break from your routine and commit to trying something new every week.
		  	</h3>
		</div>
		<div class="six wide column example small mobile only">
			<%= image_tag("example.png", :class => "ui centered image") %>
		</div>
		<div class="two wide column">
			
		</div>
	</div>
</div>

<!-- How It Works -->
<div class="section" id="how-it-works">
	<h2 class="section-header">
		How It Works
	</h2>
	<div class="ui grid stackable">
		<div class="two wide column">
			
		</div>
		<div class="four wide column">
	  		<div class="how-it-works-step">
			    <h3 class="step-value">
			    	1
			    </h3>
			    <h2 class="step-label">
			    	Commit to Exploring
			    </h2>
			    <p class="step-description">
			    	Make a weekly deposit to be used towards living one or more new experiences each week.
			    </p>
		  	</div>
		</div>
		<div class="four wide column">
	  		<div class="how-it-works-step">
			    <h3 class="step-value">
			    	2
			    </h3>
			    <h2 class="step-label">
			    	Meet Your Personal Guide
			    </h2>
			    <p class="step-description">
			    	Once you commit, we'll connect you with a real person who will find the best new experiences in the city for your adventure level and budget.
			    </p>
		  	</div>
		</div>
		<div class="four wide column">
	  		<div class="how-it-works-step">
			    <h3 class="step-value">
			    	3
			    </h3>
			    <h2 class="step-label">
			    	Weekly Bundle of Experiences
			    </h2>
			    <p class="step-description">
			    	Your guide will text you a weekly bundle of new experiences, hand-picked for you. Attend one event on the list, or lose your deposit.
			    </p>
		  	</div>
		</div>
		<div class="two wide column">
			
		</div>
	</div>
	<div class="section">
		<div class="ui grid stackable">
			<div class="two wide column">
				
			</div>
			<div class="six wide column">
				<%= image_tag("tom.jpg", :class => "testimonial-picture") %>
				<p class="testimonial">
					"I've lived in Boston for two years, but the first bundle from Ferris included multiple activities I had never heard of - and tailored to my interests! Highly recommend, thanks Ferris!"
				</p>
			</div>
			<div class="six wide column">
				<%= image_tag("masha.jpg", :class => "testimonial-picture") %>
				<p class="testimonial">
					"BRAVO! What's special about this is the human element. I was able to ask my guide questions after she sent me my bundle - it took all of the stress out of planning something to do this week."
				</p>
			</div>
			<div class="two wide column">
				
			</div>
		</div>
	</div>
</div>

<!-- Pricing -->
<div class="section" id="sign-up" style="padding-bottom: 20px">
	<h2 class="section-header">
		Start Exploring This Week
	</h2>
	<div class="ui grid stackable">
		<div class="two wide column">
			
		</div>
		<div class="four wide column">
			<div class="ui card">
			  <div class="content">
			    <div class="header" style="color: #21ba45">Starving Student</div>
			  </div>
			  <div class="content">
			      <div class="plan-description">
			        Explore Boston on a budget. All options are 18+ and under $30.
			      </div>
			  </div>
			  <div class="extra content">
			    10 new options each week
			  </div>
			  <div class="extra content">
			    All T-Accessible
			  </div>
			  <div class="extra content">
			    Buy tickets via text.
			  </div>
			  <div class="extra content">
			    Make dinner reservations via text.
			  </div>
			  <div class="extra content not-included">
			    Ask your guide questions via text.
			  </div>
			  <div class="extra content not-included">
			    3 weekend day trip options
			  </div>
			  <div class="extra content not-included">
			    Book travel and accommodation via text.
			  </div>
			  <div class="ui green bottom attached button">
			    $5 Weekly Deposit
			  </div>
			</div>
		</div>
		<div class="four wide column">
			<div class="ui card">
			  <div class="content">
			    <div class="header" style="color: #2185d0">Urban Explorer</div>
			  </div>
			  <div class="content">
			      <div class="plan-description">
			        Perfect for exploring new parts of the city or trying new date night options.
			      </div>
			  </div>
			  <div class="extra content">
			    10 new options each week
			  </div>
			  <div class="extra content">
			    All T-Accessible
			  </div>
			  <div class="extra content">
			    Buy tickets via text.
			  </div>
			  <div class="extra content">
			    Make dinner reservations via text.
			  </div>
			  <div class="extra content">
			    Ask your guide questions via text.
			  </div>
			  <div class="extra content not-included">
			    3 weekend day trip options
			  </div>
			  <div class="extra content not-included">
			    Book travel and accommodation via text.
			  </div>
			  <div class="ui blue bottom attached button">
			    $9 Weekly Deposit
			  </div>
			</div>
		</div>
		<div class="four wide column">
			<div class="four wide column">
				<div class="ui card">
				  <div class="content">
				    <div class="header" style="color: #f2711c">Weekend Adventurer</div>
				  </div>
				  <div class="content">
				      <div class="plan-description">
				        Make the most of your weekends by getting out of the city.
				      </div>
				  </div>
				  <div class="extra content">
				    10 new options each week
				  </div>
				  <div class="extra content">
				    All T-Accessible
				  </div>
				  <div class="extra content">
				    Buy tickets via text.
				  </div>
				  <div class="extra content">
				    Make dinner reservations via text.
				  </div>
				  <div class="extra content">
				    Ask your guide questions via text.
				  </div>
				  <div class="extra content">
				    3 weekend day trip options
				  </div>
				  <div class="extra content">
				    Book travel and accommodation via text.
				  </div>
				  <div class="ui orange bottom attached button">
				    $29 Weekly Deposit
				  </div>
				</div>
			</div>
		</div>
		<div class="two wide column">
			
		</div>
	</div>
</div>

<script>
	$("#top-link").click(function() {
	    $('html, body').animate({
	        scrollTop: $("#top").offset().top
	    }, 500);
	});
	$("#how-it-works-link").click(function() {
	    $('html, body').animate({
	        scrollTop: $("#how-it-works").offset().top
	    }, 500);
	});
	$("#sign-up-link").click(function() {
	    $('html, body').animate({
	        scrollTop: $("#sign-up").offset().top
	    }, 500);
	});
</script>