<% provide(:title, ' | Postcard') %>
<link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>

<div class="ui stackable grid">
	<div class="four wide column computer tablet only"></div>

	<div class="eight wide column">
		<a href="/" id="postcard-header">
			<div class="section white-section">
		    	<%= image_tag("sunglass-logo.png", :class => "ui centered image medium") %>
			</div>
		</a>
		<div>
			<%= image_tag("postcard-header.png", :class => "ui centered image") %>
		</div>
		<div class="blue-section typewriter-dark">
			<p>
				Apr. 5, 2016
			</p>
			<p>
				Forecast: Light flurries, high of 36°.
			</p>
			<p>
				San Francisco, CA: 73°  -  <a href="https://www.google.com/flights/#search;f=JFK,EWR,LGA;t=SFO;q=flights+to+san+francisco;d=2016-04-19;r=2016-04-26" target="blank">Flights from $274</a>
			</p>
			<p>
				Lima, Peru: 78°  -  <a href="http://matrix.itasoftware.com/#calendar:research=BOSLIM-LIMBOS" target="blank">Flights from $351</a>
			</p>
			<p>
				Stowe, VT: 31  -  Literally freezing, but <a href="https://www.airbnb.com/rooms/4103385?s=icq45gao" target="blank">this <i>Chalet</i></a> (so posh) has a hot tub, wood stove, and fire pit.
			</p>
			<p>
				Things could be worse. Play drone footage below, recurring nightmares ensue.
			</p>
		</div>
		<div>
			<iframe src="https://player.vimeo.com/video/119904294" width="100%" height="210" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
		<div class="blue-section typewriter-dark">
			<p>
				I can only go to so many underground cultural events and sit around in a dark lounge, drinking bourbon on the rocks like I know the 'good stuff' from the bad.
			</p>
			<p>
				I know we've had a mild winter, but Boston is long overdue for some Vitamin D. I'm looking forward to going a full week without being slapped in the face by the cold. Too much to ask?
			</p>
			<p>			
				¯\_(ツ)_/¯
			</p>
		</div>
		<div>
			<iframe src="https://player.vimeo.com/video/52002225" width="100%" height="290" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
		<div class="beige-section typewriter-light">
			<p>
				I'll leave you with three songs that I've had on repeat this week, and five events that you shouldn't miss. Seriously, grab a pen and write a reminder on your arm.
			</p>
		</div>
		<iframe width="100%" height="250" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/116679233&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
		<a href="http://www.joinferris.com/events/737" target="blank">
			<div>
		    	<%= image_tag("cope.png", :class => "ui centered image") %>
			</div>
		</a>
		<a href="http://www.joinferris.com/events/1190" target="blank">
			<div>
		    	<%= image_tag("boston-bike.png", :class => "ui centered image") %>
			</div>
		</a>
		<iframe width="100%" height="250" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/245193616&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
		<a href="http://www.joinferris.com/events/578" target="blank">
			<div>
		    	<%= image_tag("glass.png", :class => "ui centered image") %>
			</div>
		</a>
		<a href="http://www.joinferris.com/events/1463" target="blank">
			<div>
		    	<%= image_tag("mandorla.png", :class => "ui centered image") %>
			</div>
		</a>
		<iframe width="100%" height="250" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/256037920&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
		<a href="http://www.joinferris.com/events/1271" target="blank">
			<div>
		    	<%= image_tag("andrew.png", :class => "ui centered image") %>
			</div>
		</a>
		<div class="beige-section typewriter-light">
			<p>
				Oh hey, look - a <a href="https://ferris3.typeform.com/to/bWdret" target="blank" style="color: #1D2A33 !important;">survey</a>!
			</p>
		</div>
		<a href="sms:16176827760&body=Hello">
			<div>
		    	<%= image_tag("Ferris-CTA.png", :class => "ui centered image") %>
			</div>
		</a>
	</div>

	<div class="four wide column computer tablet only"></div>
</div>