<div class="ui secondary fluid one item menu">
  <a class="item" href="http://www.joinferris.com/">
    <%= image_tag('face.png', :class => 'ui centered image mini') %>
  </a>
</div>

<div class="ui grid stackable" id="rec">
	<div class="six wide column computer only tablet only">
		
	</div>
	<div class="four wide column">
		<p>
			<%= @name %> said:
		</p>
		<p class="user-request">
          <%= @message %>
		</p>
		<h3>
			Recommend One Option
		</h3>
		<div id="shuffle">
          <div class="ui cards preview-card">
            <div class="card">
              <%= image_tag(@events[0].image.url(:banner), :class => 'index-image') %>
              <div class="content">
                <div class="header" id="0">
                  <%= @events[0].title %>
                </div>
                <div class="meta">
                  Today
                </div>
                <div class="description">
                  <%= @events[0].short_blurb %>
                </div>
              </div>
              <div class="extra content">
                <span>
                  <i class="globe icon"></i>
                  <%= @events[0].place.neighborhood %>
                </span>
              </div>
              <div class="ui blue fluid button recommend-button" id='0'>
                Recommend
              </div>
            </div>
          </div>
          <div class="ui cards preview-card">
            <div class="card">
              <%= image_tag(@events[1].image.url(:banner), :class => 'index-image') %>
              <div class="content">
                <div class="header" id="1">
                  <%= @events[1].title %>
                </div>
                <div class="meta">
                  Today
                </div>
                <div class="description">
                  <%= @events[1].short_blurb %>
                </div>
              </div>
              <div class="extra content">
                <span>
                  <i class="globe icon"></i>
                  <%= @events[1].place.neighborhood %>
                </span>
              </div>
              <div class="ui blue fluid button recommend-button" id='1'>
                Recommend
              </div>
            </div>
          </div>
          <div class="ui cards preview-card">
            <div class="card">
              <%= image_tag(@events[2].image.url(:banner), :class => 'index-image') %>
              <div class="content">
                <div class="header" id="2">
                  <%= @events[2].title %>
                </div>
                <div class="meta">
                  Today
                </div>
                <div class="description">
                  <%= @events[2].short_blurb %>
                </div>
              </div>
              <div class="extra content">
                <span>
                  <i class="globe icon"></i>
                  <%= @events[2].place.neighborhood %>
                </span>
              </div>
              <div class="ui blue fluid button recommend-button" id='2'>
                Recommend
              </div>
            </div>
          </div>
	    </div>
      <div class="custom-rec">
          <h3>
              Or have a personal recommendation?
          </h3>
          <div class="ui form">
            <div class="field">
              <textarea rows="2" id="custom_rec_text"></textarea>
            </div>
            <div class="ui blue fluid button" id="customRec">
              Recommend
            </div>
          </div>
      </div>
	</div>
	<div class="six wide column computer only tablet only">
		
	</div>
</div>

<script>
	// Randomly sort options
	$(function () {
	    var parent = $("#shuffle");
	    var divs = parent.children();
	    while (divs.length) {
	        parent.append(divs.splice(Math.floor(Math.random() * divs.length), 1)[0]);
	    }
	});
</script>