<div id="new-place-form">
  <div class="ui form">
    <%= simple_form_for @place, html: { multipart: true } do |f| %>
        <%= render 'error_messages' %>
        <div class="field">
          <%= f.label :image %><br>
          <%= f.file_field :image, html: { class: 'form-control' } %>
          <% if f.object.image? %>
              <br />
              <%= image_tag(f.object.image.url(:small)) %><br />
              <em>Currently Uploaded Image</em>
          <% end %>
        </div>
        <div class="field">
          <%= f.label :name %><br>
          <%= f.text_field :name, class: "ui input" %>
        </div>
        <div class="field">
          <%= f.label :description %><br>
          <%= f.text_area :description, class: "ui input" %>
        </div>
        <div class="field">
          <%= f.label :address %>
          <%= f.text_field :address, class: "ui labeled input", :placeholder => "795 Massachusetts Ave, Cambridge, MA 02139" %>
        </div>
        <div class="field">
          <%= f.label :neighborhood %>
          <%= f.select(:neighborhood, ['Alewife', 'Allston', 'Assembly Square', 'Back Bay', 'Beacon Hill', 'Brighton', 'Brookline', 'Central Square', 'Charlestown', 'Chinatown/Leather District', 'Davis Square', 'Dorchester', 'East Boston', 'East Cambridge', 'Faneuil Hall', 'Fenway/Kenmore', 'Fort Point', 'Financial District', 'Harvard Square', 'Inman/Union Square', 'Kendall Square', 'Jamaica Plain', 'Malden', 'Mission Hill', 'North End', 'Porter Square', 'Roxbury', 'Seaport', 'South End', 'South Boston', 'West End', 'Out of the City - Car Required'], {}, { :class => 'ui fluid dropdown' }) %>
        </div>
        <div class="field">
          <%= f.label :website %>
          <div class="ui labeled input">
            <div class="ui label">
              http://
            </div>
            <%= f.text_field :website, :placeholder => "mywebsite.com" %>
          </div>
        </div>
        <div class="field">
          <%= f.label :phone_number %>
          <%= f.text_field :phone_number, class: "ui labeled input", :placeholder => "5558675309" %>
        </div>
        <%= f.simple_fields_for :open_times do |open_time| %>
            <%= render 'open_time_fields', :f => open_time %>
        <% end %>
        <div class='field links'>
          <%= link_to_add_association 'Add Open Hours', f, :open_times %>
        </div>
        <%= f.submit 'Create new place', class: 'ui blue fluid button' %>
    <% end %>
  </div>
</div>