<% provide(:title, ' | ' + @place.name) %>
<%= render 'place_header' %>
<div class="place-card">
  <div class="ui card">
    <div class="ui fluid image">
      <%= image_tag @place.image.url(:medium) %>
    </div>
    <div class="content">
      <p class="header"><%= @place.name %></p>
      <div class="description">
        <%= @place.description %>
      </div>
    </div>
    <div class="extra content">
      <a href="http://maps.google.com/?q=<%= @place.address %>" target="_blank">
        <i class="location arrow icon"></i>
        <%= @place.neighborhood %>
      </a>
    </div>
    <div class="extra content">
      <a href="<%= @place.website %>" target="_blank">
        <i class="linkify icon"></i>
        Visit Website
      </a>
    </div>
    <div class="extra content">
      <a href="tel:<%= @place.phone_number %>" target="_blank">
        <i class="phone icon"></i>
        Call Them
      </a>
    </div>
    <div class="extra content ui accordion">
      <div class="title">
        <i class="dropdown icon"></i>
        Hours
      </div>
      <div class="content">
        <table class="ui very basic unstackable table transition hidden">
          <tbody>
            <tr>
              <td class = "collapsing">Monday:</td>
              <td class="right aligned">
                <% if @open_hours.key?(1) %>
                  <%= @open_hours[1] %>
                <% else %>
                  CLOSED
                <% end %>
              </td>
            </tr>
            <tr>
              <td class = "collapsing">Tuesday:</td>
              <td class="right aligned">
                <% if @open_hours.key?(2) %>
                    <%= @open_hours[2] %>
                <% else %>
                    CLOSED
                <% end %>
              </td>
            </tr>
            <tr>
              <td class = "collapsing">Wednesday:</td>
              <td class="right aligned">
                <% if @open_hours.key?(3) %>
                    <%= @open_hours[3] %>
                <% else %>
                    CLOSED
                <% end %>
              </td>
            </tr>
            <tr>
              <td class = "collapsing">Thursday:</td>
              <td class="right aligned">
                <% if @open_hours.key?(4) %>
                    <%= @open_hours[4] %>
                <% else %>
                    CLOSED
                <% end %>
              </td>
            </tr>
            <tr>
              <td class = "collapsing">Friday:</td>
              <td class="right aligned">
                <% if @open_hours.key?(5) %>
                    <%= @open_hours[5] %>
                <% else %>
                    CLOSED
                <% end %>
              </td>
            </tr>
            <tr>
              <td class = "collapsing">Saturday:</td>
              <td class="right aligned">
                <% if @open_hours.key?(6) %>
                    <%= @open_hours[6] %>
                <% else %>
                    CLOSED
                <% end %>
              </td>
            </tr>
            <tr>
              <td class = "collapsing">Sunday:</td>
              <td class="right aligned">
                <% if @open_hours.key?(0) %>
                    <%= @open_hours[0] %>
                <% else %>
                    CLOSED
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="extra content ui accordion" id="place-events">
      <div class="title">
        <i class="dropdown icon"></i>
        Upcoming Events
      </div>
      <div class="content">
        <div class="ui vertical segment">
          <a href="http://www.joinferris.com">
            <div class="ui statistics">
              <div class="statistic left floated">
                <div class="label">
                  MAR
                </div>
                <div class="value" style="font-size: 3em;">
                  22
                </div>
              </div>
              <div>
                <div class="header">Club Bohemia at the Cantab</div>
                <div class="event-subtitle">
                  Wed., 7:45 pm - 12:45 am
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="ui vertical segment">
          <a href="http://www.joinferris.com">
            <div class="ui statistics">
              <div class="statistic left floated">
                <div class="label">
                  MAR
                </div>
                <div class="value" style="font-size: 3em;">
                  22
                </div>
              </div>
              <div>
                <div class="header">Club Bohemia at the Cantab yeah but what the title wraps</div>
                <div class="event-subtitle">
                  Wed., 7:45 pm - 12:45 am
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('.ui.accordion')
    .accordion()
  ;
</script>