<!DOCTYPE html>
<html>
<head>
	<title>Ferris<%= yield(:title) %></title>
	<meta property='og:image' content= "<%= yield(:image) %>" />
	<meta property="og:description" content= "<%= @event.description %>" />
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<%= semantic_flash %>
	<%= favicon_link_tag 'favicon.ico' %>
	<link href='https://fonts.googleapis.com/css?family=Volkhov:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<meta name="google-site-verification" content="Y4grPIL4-gppQ48xXWENekNO2Rn6NQdlphrVF5M5oiQ" />
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>
	<%= yield %>
</body>
</html>
