<!DOCTYPE html>
<html>
<head>
	<title>Ferris<%= yield(:title) %></title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<%= semantic_flash %>
	<%= favicon_link_tag 'favicon.ico' %>
	<link href='https://www.google.com/fonts#UsePlace:use/Collection:Vollkorn:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<meta name="google-site-verification" content="Y4grPIL4-gppQ48xXWENekNO2Rn6NQdlphrVF5M5oiQ" />
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.5/clipboard.min.js"></script>
	<%= render 'shared/mixpanel' %>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-72638242-1', 'auto');
	  ga('send', 'pageview');

	</script>
</head>
<body>
	<%= yield %>
</body>
</html>
